<div class="container">
	<div class="row-fluid">
		<div class="page-header">
			<h3>Airline Companies</h3>
		</div>   
	</div>
	<div class="row-fluid well"> 
		<ul id="portfolio-filter" class="nav nav-pills">
			<li><a href="#all" title="">All</a></li>
			<li><a href="#foo" title="" rel="foo">Batch 1</a></li>
			<li><a href="#bar" title="" rel="bar">Batch 2</a></li>
			<li><a href="#baz" title="" rel="baz">Batch 3</a></li>
		</ul>
		<div class="row-fluid">
			<div class="span12">
				<ul  class="thumbnails" id="portfolio-list">
					<!-- First Portfolio Item -->
					<li class=" foo"> 
						<div class="thumbnail thumbnail-box">
							<!-- Change image to the image of your portfolio item, no matter what its dimensions are -->
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/1.jpg" alt=""  />
							<!--Change the data before </h3> to the title of the portfolio item-->
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
									<!-- Below is the link to clear description of the portfolio item -->
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Second Portfolio Item -->
					<li class=" bar"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/2.jpg" alt=""  />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Third Portfolio Item -->
					<li class="bar baz"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/3.jpg" alt="" />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Fourth Portfolio Item -->
					<li class=" foo bar"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/cool4.jpg" alt=""  />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Fifth Portfolio Item -->
					<li class=" foo baz"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/5.jpg" alt="" />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Sixth Portfolio Item -->
					<li class=" foo baz bar"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/6.jpg" alt=""  />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Seventh Portfolio Item -->
					<li class=" baz"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/7.jpg" alt="" />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Eighth Portfolio Item -->
					<li class=" baz"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/8.jpg" alt=""  />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Ninth Portfolio Item -->
					<li class=" bar"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/9.jpg" alt=""  />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					<!-- Tenth Portfolio Item -->
					<li class="bar baz"> 
						<div class="thumbnail thumbnail-box">
							<img data-src="holder.js/300x200" style="width:300px;height:300px;" src="assets/img/gallery/10.jpg" alt=""  />
							<div class="caption"><h3 class="h5">Lorem Ipsum</h3><p>Lorem ipsum is a dummy text to show on websites Lorem ipsum is a dummy text to show on websites</p>
								<p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Quick view</button>
									&nbsp;
								<a href="portfolio-item.html" class="btn btn-primary btn-success">More Details</a> </p></div></div>
								
					</li>
					
				</ul>
				
			</div>
		</div>
	</div>
</div>

<!-- Modal box to show portfolio details-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<!--Profile item title can be changed below -->
		<h3 id="myModalLabel">Portfolio Item Name</h3>
	</div>
	<!-- Summary of the portfolio item can be given below -->
	<div class="modal-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed felis dui. Phasellus ac justo et nisi lobortis blandit lobortis id urna. Nunc nibh quam, gravida quis dapibus dapibus, laoreet eget dui. Duis eu mattis massa. Nullam in purus et turpis lobortis dictum. Ut tincidunt, erat a pellentesque ullamcorper.</p>
		<p class="text-center">
			<label class="label ">Team: 4 Members</label>
			<label class="label label-info">Project Duration: 45 days</label>
			<label class="label label-success">Status: Successfully completed</label>
		</p>
		<blockquote class="pull-right">
			<!-- Replace with the client photo with below image , if possible -->
			<img src="assets/img/avatars/avatar2.jpg"  class="avatar pull-right" alt="" /> &nbsp;
			<p> <small>Review can be here. It gives visitor more interest to look into the project</small></p>
		</blockquote>
		
	</div>
	<div class="modal-footer">
		<!-- Change link below to the more details of the portfolio item page -->
		<a href="portfolio-item.html" class="btn btn-primary ">Continue reading</a>
		<button class="btn" data-dismiss="modal" aria-hidden="true">ok</button>
	</div>
</div>