<!-- <div class="row">
	<div class="col-md-offset-3 col-md-6 well">
		<p>You have succcessfully bought a ticket for the flight.
		Please take note of this airline ticket number:</p>
		<pre ng-bind="at_id"></pre>
	</div>
</div> -->

<div class="container-fluid" style="margin-top: 2em">
	<div class="row"><div class="col-md-offset-3 col-md-6 well">
		<p class="text-center">You have succcessfully bought a ticket for the flight.
		Please take note of this airline ticket number:</p>
		<h3 class="text-center text-info">Ticket #<span ng-bind="at_id"></span></h3>
		<hr style="border-color: gray">
		<h2 class="text-center">Summary</h2>
		<div class="row"><div class="col-md-6">
			<h3 class="bold">Flight Details</h3>
			<label>Airline Company</label><br>
			<span ng-bind="flight.ac_name"></span><br>
			<label>Airline</label><br>
			<span ng-bind="flight.al_name"></span><br>
			<label>Departure Time Stamp</label><br>
			<span ng-bind="flight.fs_dep"></span><br>
			<label>Origin - Destination</label><br>
			<span ng-bind="flight.place_from"></span> - 
			<span ng-bind="flight.place_to"></span><br>
			<label>Total Cost</label><br>
			P<span ng-bind="accomodation.fare|number"></span>
		</div><div class="col-md-6">
			<h3 class="bold">Passenger Information</h3>
			<label>Passenger Name:</label>
			<span ng-bind="passenger.ps_name"></span><br>
			<label>Address:</label>
			<span ng-bind="passenger.ps_address"></span><br>
			<label>Telehpone #:</label>
			<span ng-bind="passenger.ps_tel"></span><br>
			<label>Fax #:</label>
			<span ng-bind="passenger.ps_fax"></span><br>
			<label>Email:</label>
			<span ng-bind="passenger.ps_email"></span><br>
			<label>Bith Date:</label>
			<span ng-bind="passenger.ps_bdate"></span><br>
			<label>Contact Person:</label>
			<span ng-bind="passenger.ps_contact_person"></span><br>
			<label>Contact Telephone #:</label>
			<span ng-bind="passenger.ps_contact_tel"></span>
		</div></div>
	</div></div>
</div>