<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="animated fadeInLeftBig">
				<div class="row">
					<span class="col-md-4"></span>
					<div class="col-md-8">
						<h2>Enjoy the following freebies with us</h2>
						<i class="icon-check"></i> Exciting Seat sale deals and promos<br/>exclusive for CEB Club members.<br/><br/>
						<i class="icon-check"></i> Save your contact, guest and payment<br/>details for easier and faster booking<br/><br/>
						<i class="icon-check"></i> Manage your booking with ease plus more<br/><br/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img class="animated fadeInRightBig" src="assets/img/1.png" alt=""/>
		</div>
	</div>
</div>