<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<img class="animated bounceInDown" src="assets/img/2.png" alt=""/>
		</div>
		<div class="col-md-6">
			<div class="content-right animated bounceInRight">
				<h2>Book what we have here!</h2>
				<blockquote>
					<p>Amazingly low fares to great destinations!</p>
					<p>Fly to great destinations with affordable all-in fares.</p>
					<p>Affordable business class all-in fares with 1 year validity.</p>
					<p>We offer special discounts for specific individuals.</p>
				</blockquote><br/>
			</div>
		</div>
	</div>
</div>