<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="content-left animated rotateInDownLeft" style="padding-left: 5em">
				<h2>Tara nang lumipad sa ibang bansa!</h2><br/>
				<blockquote>
					<p>Fly to/from <b>Manila (NAIA Terminal 4)</b></p>
					<i class="icon-check"></i> <b>Bohol(Tagbilaran)</b><br>
					<i class="icon-check"></i> <b>Puerto Princesa</b><br>
					<i class="icon-check"></i> <b>Macau and many more destinations!</b><br>
				</blockquote>
				<blockquote>
					<p>Fly to/from <b>Cebu (Mactan International Airport)</b></p>
					<i class="icon-check"></i> <b>Kuala Lumpur</b><br>
					<i class="icon-check"></i> <b>Kota Kinabalu</b><br>
					<p>many more destinations!<br>
				</blockquote>
			</div>
		</div>
		<div class="col-md-6">
			<img class="animated rotateInUpRight" src="assets/img/3.png" alt=""/>
		</div>
	</div>
</div>